@page "/counter"
@inject IJSRuntime JSRuntime

    <textarea id="JavaScripttext" name="javascriptCode" placeholder="JavaScript code" spellcheck="false"></textarea>
    <textarea id="C#" name="C#code" placeholder="C# code" spellcheck="false"></textarea>
    <button type ="submit" @onclick="Run"> run</button>

<div class="iframe-container split">
    <iframe id="javascriptViewer"></iframe>
    <iframe id="csharpViewer"></iframe>
</div>


@code {

    private async Task Run()
    {
        await UpdateJavaScript();
    }
    private async Task UpdateJavaScript()
    {
        Console.WriteLine(JSRuntime.InvokeVoidAsync("displayJavaScriptOutput"));
        await JSRuntime.InvokeVoidAsync("displayJavaScriptOutput");
    }

}


